input {
    display: inline-block;
    margin: 0px 0px 10px 10px;
}

input[type="submit"] {
    font-family: FontAwesome;
    background: none;
    border: none;
    padding: 0px 0px;
    border-radius: 3px;
    cursor:pointer;
}

input[type="submit"]:hover {
    color: #CF4647;
}
