<link href="/App/Views/Css/users.css" rel="stylesheet">

<div>
    <form action="/users/management" method="POST">
        <input type="text" placeholder="Update Email" name="email"/>
        <input type="submit" value="Update Email" />
    </form>
    <form action="/users/management" method="POST">
        <input type="text" placeholder="Update Password" name="password"/>
        <input type="text" placeholder="Repeat Password"  name="repeatPassword"/>
        <input type="submit" value="Update Password" />
    </form>
</div>
