{% extends "Templates/global.html" %}

{% block content %}
    <div>

        <div class="float_right hint--bottom" aria-label="Logout">
                <a href="/users/logout"><i class="fa fa-sign-out fa-3x" aria-hidden="true"></i></a>
        </div>

        <h1>Welcome User</h1>

        {% if not summoners %}

        <form action="/summoners/add" method="POST">
            <input type="text" placeholder="Summoner Name" name="name"/>
            <input type="submit" value="&#xf0fe;" />
        </form>

        {% endif %}

            {% for summoner in summoners %}

                <form action="/summoners/{{summoner.id}}/remove" method="GET">
                    {{ summoner.name }}
                    <div class="hint--right" aria-label="Remove Summoner">
                        <input type="submit" value="&#xf146;"/>
                    </div>
                </form>

            {% endfor %}

        <a href="http://lol-friend-compare.local/summoners/add">Go to Add Summoners</a>
    </div>
{% endblock %}
